__pycache__/ export-ignore
*.py[cod] export-ignore
.pytest_cache/ export-ignore
.mypy_cache/ export-ignore
.ruff_cache/ export-ignore
.venv/ export-ignore
venv/ export-ignore
build/ export-ignore
dist/ export-ignore
*.egg-info/ export-ignore
logs/ export-ignore
